*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 530px) {
  .container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding-top: 1rem;
    background-color: #f4f4f4;
    z-index: 2;
  }

  .container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 654px;
    /*  background-color: #096135; */
    background-color: hsla(150, 83%, 21%, 0.31);
    opacity: 0;
    visibility: hidden;
    transition: all 750ms ease-in-out;
    z-index: 2;
  }

  .container.overlap.container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 654px;
    /*  background-color: #096135; */
    background-color: hsla(150, 83%, 21%, 0.31);
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  .end_game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 180px;
    background-color: #cfcfcf;
    background-color: #333;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    box-shadow: 0px 0px 5px 0 rgb(22, 22, 22);
    transition: all 1s ease-in-out 2s;
    z-index: 15;
  }

  .end_game.add_msg {
    opacity: 1;
    visibility: visible;
  }

  .wrapper_reset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .special_msg {
    position: relative;
    top: 2.5rem;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 3px;
  }

  .btn_special {
    width: 140px;
    padding: 0.25rem 0;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
  }

  .rest_game {
    color: #f4f4f4;
    background-color: #096135;
    box-shadow: -2px -3px 2px rgb(22, 22, 22);
  }

  .exit_game {
    color: #ebe867;
    background-color: #6d1168;
    box-shadow: 2px -3px 2px rgb(22, 22, 22);
  }

  .game_entitled {
    position: relative;
    width: 100vw;
    height: 50px;
    padding-left: 1rem;
    display: flex;
  }

  .gen_title {
    position: relative;
    padding: 0 0.5rem;
    height: 40px;
    color: #fff;
    background-color: #096135;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category_selection {
    width: 220px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5rem;
  }

  .input_category {
    font-size: 0.95rem;
    padding: 0.25rem;
  }

  /*showcase game*/

  .showcase_game {
    width: 100vw;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .template_score {
    padding: 1rem 0;
  }

  .current_step {
    display: flex;
    justify-content: center;
  }

  .wrap_main_img {
    position: relative;
    top: 2rem;
    width: calc(24vw - 1rem);
    height: 200px;
    /*   display: none; */
  }

  .wrap_main_img[data-selection="0"] {
    width: calc(35vw - 1rem);
  }

  .wrap_main_img[data-selection="1"] {
    width: calc(27vw - 1rem);
  }

  .wrap_main_img[data-selection="2"] {
    width: calc(24vw - 1rem);
  }

  .main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*score*/
  .score_in {
    position: relative;
    top: 2.8rem;
    width: 114px;
    max-width: 90px;
    height: 32px;
    margin: 0 auto;
    color: #333;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .joystick_play_wrapper {
    position: relative;
    width: 100vw;
    padding: 0 0.85rem;
    margin: 0 auto;
    height: 180px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: calc(2.5em);
    background-color: #333;
  }

  .entry_words {
    position: relative;
    left: 0;
    width: 23.25rem;
    height: 40px;
  }

  .entry_words[data-selection="0"] {
    position: relative;
    left: 0;
    width: 19.25em;
  }

  .entry_words[data-selection="1"] {
    width: 21.25rem;
  }

  .entry_words[data-selection="2"] {
    width: 23.25rem;
  }

  .wrapper_open {
    width: 100%;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: flex-end;
  }

  .open_content {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mini_template {
    width: 100%;
    height: auto;
    border: 1px solid brown;
    /*  transform: translateY(150%); */
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    z-index: -1;
  }

  .mini_template.show_template {
    /* transform: translateY(0%); */
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  .mini_row {
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
  }

  .mini_row[data-selection="0"] {
    display: none;
  }

  .mini_row[data-selection="1"] {
    display: none;
  }

  .mini_row[data-selection="2"] {
    display: none;
  }

  .mini_row[data-selection="0"].active,
  .mini_row[data-selection="1"].active,
  .mini_row[data-selection="2"].active {
    display: flex;
  }

  .mini_row[data-selection="0"] .char_box,
  .mini_row[data-selection="1"] .char_box,
  .mini_row[data-selection="2"] .char_box {
    width: 2.35em;
    height: 32px;
    margin: 0 0.1rem;
    color: #fff;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*structure confirm*/

  .structure_confirm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .entry_style {
    width: 50%;
    height: 20px;
    color: #333;
  }

  .warning_characters {
    color: #c9b027;
    font-size: 14px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: all 950ms ease-in-out;
  }

  .warning_characters.standing {
    visibility: visible;
    opacity: 1;
  }

  .confirm_input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .btn_confirm {
    width: 35%;
    height: 25px;
    margin: 0 0.5rem;
    font-size: 0.85rem;
  }

  .close_content {
    padding-left: 0.25rem;
  }

  .empty_board {
    position: absolute;
    top: 5rem;
    left: 4rem;
    padding: 0.5rem;
    color: #fff;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
  }

  .empty_board .text_empty {
    opacity: 0;
    visibility: hidden;
    transition: all 750ms ease-in-out;
  }

  .empty_board.msg_empty .text_empty {
    opacity: 1;
    visibility: visible;
  }

  .restart_game {
    position: relative;
    top: 3.5rem;
    width: 30%;
    height: 100px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .btn_play_again {
    height: 25px;
    padding: 0 0.75rem;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .reset_input {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .btn_reset_game {
    height: 25px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .currently_gaming {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transform: skewX(-10deg);
  }
}

@media (min-width: 872px) {
  .container {
    padding-top: 2rem;
  }

  .game_entitled {
    padding-left: 2rem;
  }

  .category_selection {
    padding-left: 2rem;
  }

  .showcase_game[data-selection="1"] {
    gap: 4.5rem;
  }

  .showcase_game[data-selection="2"] {
    gap: 4.5rem;
  }

  .wrap_main_img[data-selection="1"] {
    top: 1rem;
    width: calc(32vw - 1rem);
    height: 220px;
  }

  .wrap_main_img[data-selection="2"] {
    top: 1rem;
    width: calc(30vw - 1rem);
    height: 220px;
  }

  .score_in {
    top: 1.8rem;
  }

  .entry_words[data-selection="0"] {
    position: relative;
    width: 19.25em;
  }

  .joystick_play_wrapper {
    justify-content: center;
    gap: 0rem;
  }

  .entry_words[data-selection="1"] {
    position: relative;
    left: -0.75rem;
    width: 23.1em;
  }

  .mini_row[data-selection="0"] .char_box {
    width: 2.6em;
    height: 36px;
  }

  .restart_game {
    left: 45%;
    transform: translateX(-105%);
    width: 37%;
  }

  .reset_input {
    padding: 0 2.5rem;
  }
}
