*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 530px) {
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    padding-top: 9px;
    background: #f4f4f4
      url("./assets/images/Starry-Night-Over\ Rolling-Hills.png") no-repeat
      center center/cover;

    border-bottom: 0 solid #1c203b;
    border-bottom: 0 solid transparent;
    z-index: 2;
  }

  .container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 654px;
    height: 100%;
    /*  background-color: #096135; */
    background-color: hsla(150, 83%, 21%, 0.31);
    opacity: 0;
    visibility: hidden;
    transition: all 750ms ease-in-out;
    z-index: 2;
  }

  .container.overlap.container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 654px;
    /*  background-color: #096135; */
    background-color: hsla(150, 83%, 21%, 0.31);
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  .end_game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: #cfcfcf;
    background-color: #333;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0px 0px 5px 0 rgb(22, 22, 22);
    transition: all 1s ease-in-out 2s;
    z-index: 15;
  }

  .end_game.add_msg {
    opacity: 1;
    visibility: visible;
  }

  /*  .end_game .expected_word {
    padding: 1.5rem 0;
  } */

  .wrapper_reset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .special_msg {
    position: relative;
    padding-top: 1rem;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .special_msg .expected_word {
    width: 100%;
    color: #b3afaf;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0px;
  }

  .btn_special {
    cursor: pointer;
    width: 140px;
    padding: 0.25rem 0;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
  }

  .rest_game {
    color: #f4f4f4;
    background-color: #096135;
    box-shadow: -2px -3px 2px rgb(22, 22, 22);
  }

  .exit_game {
    color: #ebe867;
    background-color: #6d1168;
    box-shadow: 2px -3px 2px rgb(22, 22, 22);
  }

  .btn_launch,
  .btn_hide {
    width: 100%;
    padding: 5px 10px;
    color: #cfcfcf;
    background-color: #272626;
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 350ms ease;
  }

  .btn_hide {
    color: #cfcfcf;
    background-color: #2e2d86;
  }

  .btn_launch:hover {
    background-color: #2e853c;
  }
  .btn_hide:hover {
    background-color: #aa3c3c;
  }

  .game_entitled {
    position: relative;
    width: 100vw;
    height: 50px;
    padding-left: 1rem;
    display: flex;
  }

  .gen_title {
    position: relative;
    padding: 0 0.5rem;
    height: 40px;
    color: #fff;
    background-color: #096135;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category_selection {
    width: 220px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5rem;
  }

  .title_category {
    color: #cfcfcf;
    font-size: 0.9rem;
  }

  .input_category {
    font-size: 0.9rem;
    padding: 0.25rem;
  }

  /*showcase game*/

  .showcase_game {
    width: 100vw;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .template_score {
    padding: 1rem 0;
  }

  .current_step {
    color: #f1f1f1;
    display: flex;
    justify-content: center;
  }

  .wrap_main_img {
    position: relative;
    top: 2rem;
    width: calc(24vw - 1rem);
    height: 200px;
    /*   display: none; */
  }

  .wrap_main_img[data-selection="0"] {
    width: calc(35vw - 1rem);
  }

  .wrap_main_img[data-selection="1"] {
    width: calc(27vw - 1rem);
  }

  .wrap_main_img[data-selection="2"] {
    width: calc(24vw - 1rem);
  }

  .main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*score*/
  .score_in {
    position: relative;
    top: 2.8rem;
    width: 140px;
    /* max-width: 220px; */
    height: 36px;
    margin: 0 auto;
    color: #333;
    background-color: #ddd;
  }

  .score_in .score_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }

  .joystick_play_wrapper {
    position: relative;
    width: 100vw;
    padding: 0 1.25rem 0 0.85rem;
    margin: 0;
    height: 180px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    gap: calc(2.5em);

    background-color: #364e46;
  }

  .insertion_template {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .insertion_word_wrapper {
    position: relative;
    left: 10%;
    width: 23.25rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .insertion_word_wrapper[data-selection="0"] {
    position: relative;
    left: 0;
    width: 19.25em;
  }

  .insertion_word_wrapper[data-selection="1"] {
    width: 21.25rem;
  }

  .insertion_word_wrapper[data-selection="2"] {
    width: 23.25rem;
  }

  /* toggler btn wrapper */
  .toggler_btn_wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .toggler_btn_ct {
    position: relative;
    width: 100%;
    height: 6.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .toggler_word_button {
    position: absolute;
    width: 5rem;
    height: 2rem;
    margin-top: 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #btn_launch_wrap.toggler_word_button {
    margin-bottom: 3.5rem;
    visibility: hidden;
    transition: all 350ms ease;
  }

  #btn_hide_wrap.toggler_word_button {
    margin-top: 3.5rem;
    visibility: hidden;
    transition: all 350ms ease;
  }

  #btn_launch_wrap.toggler_word_button.active_btn {
    margin-bottom: 0;
    visibility: visible;
  }

  #btn_hide_wrap.toggler_word_button.active_btn {
    margin-top: 0;
    visibility: visible;
  }

  /* insertion box controlled */

  .insertion_box_controlled {
    width: 70%;
    height: 80%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    /*  border: 1px solid rgb(194, 180, 180); */
    border-radius: 5px;
  }

  .mini_template {
    width: 100%;
    height: 0;
    padding: 5px 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: none;
    transition: all 1s ease-in-out;
  }

  .mini_template.show_template {
    /* transform: translateY(0%); */
    visibility: visible;
    opacity: 1;
    height: auto;
    box-shadow: 0px 0px 2px #8d8c8c;
  }

  .mini_row {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    /* display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 100%; */
  }

  /* .mini_row[data-selection="0"] {
    display: none;
  }

  .mini_row[data-selection="1"] {
    display: none;
  }

  .mini_row[data-selection="2"] {
    display: none;
  } */

  /* .mini_row[data-selection="0"].active,
  .mini_row[data-selection="1"].active,
  .mini_row[data-selection="2"].active {
    display: flex;
  }

  .mini_row[data-selection="0"] .char_box,
  .mini_row[data-selection="1"] .char_box,
  .mini_row[data-selection="2"] .char_box {
    width: 2.35em;
    height: 32px;
    margin: 0 0.1rem;
    color: #fff;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  /*structure confirm*/

  .structure_confirm {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
  }

  input.entry_style {
    width: 65%;
    height: 1.9rem;
    padding: 5px 10px;
    margin: 0.5rem 0.15rem 0;
    color: #cfcfcf;
    /* background-color: #272626; */
    background-color: #2b2a2a;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
  }

  .warning_characters {
    color: #c9b027;
    height: 1.3rem;
    font-size: 14px;
    font-weight: bold;
    visibility: visible;
    opacity: 1;
    transition: all 950ms ease-in-out;
    z-index: 3;
  }

  /*  .warning_characters.standing {
    visibility: visible;
    opacity: 1;
  } */

  .confirm_input {
    position: relative;
    top: -5px;
    /* left: 8px; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .btn_confirm {
    width: 35%;
    height: 28px;
    /* margin: 0 0.5rem; */
    font-size: 0.85rem;
    color: #8d8c8c;
    background-color: #404250;
    border: 1px solid transparent;
    border-radius: 3px;
    transform: scale(1);
    transition: all 350ms ease;
  }

  .btn_confirm:hover {
    cursor: pointer;
    color: #cfcece;
    background-color: #2d423b;
  }

  .btn_confirm.ready_confirm {
    color: #cfcece;
    background-color: #2d423b;
  }

  .btn_confirm.active_confirm {
    animation: active-confirm-animation 650ms ease forwards;
  }

  .empty_board {
    position: absolute;
    height: 80%;
    /*  top: 5rem;
    left: 4rem; */
    padding: 0.5rem;
    color: #fff;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
  }

  .empty_board .text_empty {
    opacity: 0;
    visibility: hidden;
    transition: all 750ms ease-in-out;
  }

  .empty_board.msg_empty .text_empty {
    opacity: 1;
    visibility: visible;
  }

  .restart_game {
    position: relative;
    top: 3.5rem;
    width: 37%;
    height: 100px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .btn_play_again {
    height: 25px;
    padding: 0 0.75rem;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .reset_input {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .btn_reset_game {
    height: 25px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .currently_gaming {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transform: skewX(-10deg);
  }
}

@media (min-width: 872px) {
  .game_entitled {
    padding-left: 2rem;
  }

  .category_selection {
    padding-left: 2rem;
  }

  .showcase_game[data-selection="1"] {
    gap: 4.5rem;
  }

  .showcase_game[data-selection="2"] {
    gap: 4.5rem;
  }

  .wrap_main_img[data-selection="1"] {
    top: 1rem;
    width: calc(32vw - 1rem);
    height: 220px;
  }

  .wrap_main_img[data-selection="2"] {
    top: 1rem;
    width: calc(30vw - 1rem);
    height: 220px;
  }

  .score_in {
    top: 1.8rem;
  }

  .joystick_play_wrapper {
    justify-content: space-around;
    gap: 0rem;
  }

  .insertion_template {
    width: 60%;
  }

  .insertion_word_wrapper {
    left: 5%;
  }

  .insertion_word_wrapper[data-selection="0"] {
    position: relative;
    width: 19.25em;
  }

  .insertion_word_wrapper[data-selection="1"] {
    position: relative;
    left: -0.75rem;
    width: 23.1em;
  }

  /* .mini_row[data-selection="0"] .char_box {
    width: 2.6em;
    height: 36px;
  } */

  .restart_game {
    /* left: 45%;
    transform: translateX(-105%); */
    width: 37%;
  }

  .reset_input {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1045px) {
  .container {
    max-height: 100vh;
    overflow-y: hidden;
    border-bottom: 16px solid transparent;
  }

  .joystick_play_wrapper {
    height: 170px;
    margin: 0.5rem 0 0 0;
  }

  .toggler_btn_wrapper {
    width: 30%;
  }

  .insertion_word_wrapper {
    height: 100%;
    margin-left: 0;
  }

  /* .insertion_box_controlled {
    justify-content: flex-end;
  } */

  .restart_game {
    top: 1.5rem;
  }
}

@keyframes active-confirm-animation {
  0% {
    color: #cfcece;
    background-color: #422d40;
    transform: scale(0.96);
    border: 1px solid #cfcece;
  }

  100% {
    color: #cfcece;
    background-color: #2d423b;
    transform: scale(1);
    border: 1px solid transparent;
  }
}
